<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blood Bank</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Clientassets/img/favicon.png" rel="icon">
    <link href="~/Clientassets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Clientassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Clientassets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Clientassets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Clientassets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Clientassets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Clientassets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Clientassets/css/style.css" rel="stylesheet">

    @*Admin Panel Template Layout*@
    <link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
    <link rel="stylesheet" href="~/css/Custom.css" />

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logoclient"><a href="index.html">Blood Bank</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="~/Clientassets/img/logo.png" alt="" class="img-fluid"></a>-->
            <nav id="navbarclient" class="navbarclient">
                <ul>
                    <li><a class="nav-linkclient scrollto active" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-linkclient scrollto" asp-controller="BloodBag" asp-action="Index">Search Blood</a></li>
                    <li><a class="nav-linkclient scrollto" href="#about">About</a></li>
                    <li><a class="nav-linkclient scrollto" href="#services">Services</a></li>
                    <li><a class="nav-linkclient scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-linkclient scrollto" href="#team">Team</a></li>
                    <li><a href="blog.html">Blog</a></li>

                    <li><a class="nav-linkclient scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar --><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Tempo</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Tempo</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Clientassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Clientassets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Clientassets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Clientassets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Clientassets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Clientassets/js/main.js"></script>


    @*Admin Panel Template JS*@
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/vendor/apexcharts.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="~/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.flash.min.js"></script>
    <script src="~/assets/js/vendor/buttons.print.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.select.min.js"></script>
    <script src="~/assets/js/vendor/handlebars.min.js"></script>
    <script src="~/assets/js/vendor/typeahead.bundle.min.js"></script>
    <script src="~/assets/js/vendor/Chart.bundle.min.js"></script>
    <script src="~/assets/js/pages/demo.dashboard-analytics.js"></script>
    <script src="~/assets/js/pages/demo.datatable-init.js"></script>
    <script src="~/assets/js/pages/demo.typehead.js"></script>
    <script src="~/assets/js/pages/demo.profile.js"></script>
    <script src="~/assets/js/pages/demo.timepicker.js"></script>

</body>

</html>