@{
    ViewData["Title"] = "BloodBank-DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@using BloodBankProject.BAL;
@using System.Data;
@model DataTable


<div class="content-page">
    <div class="content">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topbar-menu float-end mb-0">
                <li class="dropdown notification-list d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                        <form class="p-3">
                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                        </form>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="account-user-avatar">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        </span>
                        <span>
                            <span class="account-user-name">@CommonVariables.UserName()</span>
                            <span class="account-position">Admin</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                        <!-- item-->
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>
                        <!-- item-->
                        <a asp-area="SEC_Login" asp-controller="SEC_Login" asp-action="LogOut" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout me-1"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="button-menu-mobile open-left">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="app-search dropdown d-none d-lg-block">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                        <span class="mdi mdi-magnify search-icon"></span>
                        <button class="input-group-text btn-primary" type="submit">Search</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- end Topbar -->
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <form class="d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-light" id="dash-daterange">
                                    <span class="input-group-text bg-primary border-primary text-white">
                                        <i class="mdi mdi-calendar-range font-13"></i>
                                    </span>
                                </div>
                                <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                    <i class="mdi mdi-autorenew"></i>
                                </a>
                            </form>
                        </div>
                        <h4 class="page-title">Analytics</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class='uil uil-users-alt float-end'></i>
                            <h6 class="text-uppercase mt-0">InComing BloodBags</h6>
                            <h2 class="my-2" id="active-users-count">121</h2>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div>
                </div> <!-- end col -->
                <div class="col-xl-3 col-lg-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class='uil uil-users-alt float-end'></i>
                            <h6 class="text-uppercase mt-0">Available BloodBags</h6>
                            <h2 class="my-2" id="active-users-count">121</h2>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div>
                </div> <!-- end col -->
                <div class="col-xl-3 col-lg-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class='uil uil-users-alt float-end'></i>
                            <h6 class="text-uppercase mt-0">Expire BloodBags</h6>
                            <h2 class="my-2" id="active-users-count">121</h2>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div>
                </div> <!-- end col -->
                <div class="col-xl-3 col-lg-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class='uil uil-users-alt float-end'></i>
                            <h6 class="text-uppercase mt-0">Out BloodBags</h6>
                            <h2 class="my-2" id="active-users-count">121</h2>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><span class="mdi mdi-arrow-up-bold"></span> 5.27%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div>
                </div> <!-- end col -->

            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Refresh Report</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                                </div>
                            </div>


                            <div class="row">
                                @* Dynamic Pie Chart*@
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="header-title">Available Blood Stock</h4>

                                            <!-- Pie Chart -->
                                            <div id="pieChart"></div>

                                            <script>
                                                let BloodBagsCount = [];
                                                let BloodBagsName = [];
                                                @foreach (DataRow dr in Model.Rows)
                                                {
                                                    @:BloodBagsCount.push(parseInt("@dr["TotalBags"]"));
                                                }
                                                @foreach (DataRow dr in Model.Rows)
                                                {
                                                    @:BloodBagsName.push("@dr["BloodGroupName"]");
                                                }
                                                    document.addEventListener("DOMContentLoaded", () => {
                                                        new ApexCharts(document.querySelector("#pieChart"), {
                                                            series: BloodBagsCount,
                                                            chart: {
                                                                height: 350,
                                                                type: 'pie',
                                                                toolbar: {
                                                                    show: true
                                                                }
                                                            },
                                                            labels: BloodBagsName
                                                        }).render();
                                                    });
                                            </script>
                                            <!-- End Pie Chart -->

                                        </div>
                                    </div>
                                </div>
                                @*#end Dynamic Pie Chart *@





                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row -->





        </div>
        <!-- container -->

    </div>
    <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
@section Scripts{
}