@{
    Layout = "~/Views/Shared/ClientPanelLayout.cshtml";
}
@using System.Data
@model DataTable

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h3>Welcome to <strong>Blood Bank</strong></h3>
        <h1>Be the reason for someone’s heartbeat.</h1>
    </div>
</section><!-- End Hero -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Blood Compatibility</h2>
                <h3>Comopatibility of<span> Blood Donation</span></h3>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <h3>
                        <span> Rules for Blood Donation </span>
                    </h3>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Age between 18 and 60 years</li>
                        <li><i class="ri-check-double-line"></i> Haemoglobin - not less than 12.5 g/Dl</li>
                        <li><i class="ri-check-double-line"></i> Pulse - between 50 and 100/minute with no irregularities</li>
                        <li><i class="ri-check-double-line"></i> Blood Pressure -Systolic 100-180 mm Hg and Diastolic 50 - 100 mm Hg</li>
                        <li><i class="ri-check-double-line"></i> Temperature - Normal (oral temperature not exceeding 37.50C)</li>
                        <li><i class="ri-check-double-line"></i> You cannot donate with any type of flu, cold, sore throat, fever, stomach flu or any type of infection</li>
                        <li><i class="ri-check-double-line"></i> If you have a piercing or tattoo on your body, you must wait for 6 months to donate blood.</li>
                        <li><i class="ri-check-double-line"></i> You must wait for 6 months if you have undergone a rabies treatment or Hepatitis B vaccination.</li>
                        <li><i class="ri-check-double-line"></i> 24 hours must pass before blood donation if you have had any alcoholic beverage.</li>
                        <li><i class="ri-check-double-line"></i> It must pass 48 hours after taking any antibiotics or any other medications. It can be allopathic, homoeopathic, or ayurvedic.</li>
                        <li><i class="ri-check-double-line"></i> You must be physically fit to be in line with the rules while donating blood.</li>

                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Blood Group</th>
                                <th>Donate Blood To</th>
                                <th>Receive Blood From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A+</td>
                                <td>A+,AB+</td>
                                <td>A+,A-,O+,O-</td>
                            </tr>
                            <tr>
                                <td>O+</td>
                                <td>O+,A+,B+,AB+</td>
                                <td>O+,O-</td>
                            </tr>
                            <tr>
                                <td>B+</td>
                                <td>B+,AB+</td>
                                <td>B+,B-,O+,O-</td>
                            </tr>
                            <tr>
                                <td>AB+</td>
                                <td>AB+</td>
                                <td>EveryOne</td>
                            </tr>
                            <tr>
                                <td>A-</td>
                                <td>A+,A-,AB+,AB-</td>
                                <td>A-,O-</td>
                            </tr>
                            <tr>
                                <td>O-</td>
                                <td>EveryOne</td>
                                <td>O-</td>
                            </tr>
                            <tr>
                                <td>B-</td>
                                <td>B+,B-,AB+,AB-</td>
                                <td>B-,O-</td>
                            </tr>
                            <tr>
                                <td>AB-</td>
                                <td>AB+,AB-</td>
                                <td>AB-,A-,B-,O-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <h3>We do awesome <span>Services</span></h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-donate-blood"></i></div>
                        <h4 class="title"><a href="">Received Blood From Donor</a></h4>
                        <p class="description">After Fulfilling Donation aligibilities, Donor Donate Blood.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-test-tube'></i></div>
                        <h4 class="title"><a href="">Test Blood</a></h4>
                        <p class="description">Blood are tested in testing laboratory By Doctors for approval.</p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bxs-shopping-bags'></i></div>
                        <h4 class="title"><a href="">Manage Blood Bags</a></h4>
                        <p class="description">Blood Bag are stored in refrigerators at 6ºC for up to 42 days.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-rupee'></i></div>
                        <h4 class="title"><a href="">Out Blood Bag</a></h4>
                        <p class="description">Blood Bag give to reuired patient after cross matching of blood.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
