@{
    Layout = "~/Views/Shared/ClientPanelLayout.cshtml";
}
@using System.Data
@model DataTable

<input type="text" id="lat" value=@Model.Rows[0]["Latitude"] />
<input type="text" id="lng" value=@Model.Rows[0]["Longtitude"] />


<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" style="margin-top:30px;">
            <h2>About</h2>
            <h3>About<span>US</span></h3>
            <p>@Model.Rows[0]["Description"]</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info  p-3">
                    <div class="email">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>@Model.Rows[0]["Address"]</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="info  p-3">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>@Model.Rows[0]["Email"]</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="info  p-3">
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>@Model.Rows[0]["ContactNumber"]</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-5">
            <div id="map"></div>
        </div>

    </div>
</section><!-- End Contact Section -->
<script src="~/MapAssets/MapJavaScript-Client.js"></script>

