@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BloodBankProject.BAL;
@model BloodBankProject.Areas.OutPatient.Models.OutPatientModel
<div class="content-page">
    <div class="content">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topbar-menu float-end mb-0">
                <li class="dropdown notification-list d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                        <form class="p-3">
                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                        </form>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="account-user-avatar">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        </span>
                        <span>
                            <span class="account-user-name">@CommonVariables.UserName()</span>
                            <span class="account-position">Founder</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                        <!-- item-->
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-circle me-1"></i>
                            <span>My Account</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-edit me-1"></i>
                            <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-lifebuoy me-1"></i>
                            <span>Support</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-lock-outline me-1"></i>
                            <span>Lock Screen</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout me-1"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="button-menu-mobile open-left">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="app-search dropdown d-none d-lg-block">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                        <span class="mdi mdi-magnify search-icon"></span>
                        <button class="input-group-text btn-primary" type="submit">Search</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- end Topbar -->
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">Blood Stock</li>
                                <li class="breadcrumb-item active"><a asp-area="OutPatient" asp-controller="OutPatient" asp-action="Index">Out Patient</a></li>
                                <li class="breadcrumb-item active">Add Edit</li>
                            </ol>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">

                                <div class="tab-pane show active" id="typeahead-preview">
                                    <h4 class="page-title">Add OutPatient</h4>
                                    <form enctype="multipart/form-data" method="post" asp-area="OutPatient" asp-controller="OutPatient" asp-action="Save">

                                        


                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">OutPatient Name</label>
                                                    <input type="text" class="form-control" data-provide="typeahead" asp-for="OutPatientName" placeholder="Donor Name">
                                                    <span asp-validation-for="OutPatientName" class="text-danger"></span>
                                                </div>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->


                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Out Date</label>
                                                    <input type="date" class="form-control" data-provide="typeahead" asp-for="OutDate">
                                                </div>
                                            </div> <!-- end col -->
                                            <div class="col-lg-6">
                                                @if (ViewBag.BloodGroupDropDownList != null)
                                                {
                                                    <label class="form-label font-weight-bold">Select BloodGroup</label>
                                                    <select onchange="GetInStockBloodBagAndPrice()" class="form-control select2 BloodGroupDropDown" data-toggle="select2" name="BloodGroupID" asp-items="@(new SelectList(ViewBag.BloodGroupDropDownList, "BloodGroupID", "BloodGroupName").ToList()) " asp-for="BloodGroupID">
                                                        <option value="" selected disabled>Select BloodGroup</option>
                                                    </select>
                                                    <span asp-validation-for="BloodGroupID" class="text-danger"></span>
                                                }
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Price</label>
                                                    <input type="text" class="form-control" data-provide="typeahead" id="PriceFillAuto" asp-for="Price" placeholder="Price">
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div> <!-- end col -->
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Quanity</label>
                                                    <input type="text" class="form-control" onkeyup="GetTotalPrice()" data-provide="typeahead" id="QuantiyCount" asp-for="Quantity" placeholder="Quanity ">
                                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                                </div>
                                            </div> <!-- end col -->
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Total Price</label>
                                                    <input type="text" class="form-control TotalPriceFill" data-provide="typeahead" asp-for="TotalPrice">
                                                </div>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="mb-1 fw-bold text-muted">Out Blood Bags</p>
                                                <p class="text-muted font-14">
                                                    Select Multiple Blood Bags Over Here
                                                </p>

                                                <select id="BloodBagsList" class="select2 form-control select2-multiple" data-toggle="select2" asp-for="OutBloodBags" multiple="multiple" data-placeholder="Choose ...">
                                                </select>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="row mb-3 mt-3">
                                            <div class="col-lg-6">
                                                @if (ViewBag.DoctorDropDownList != null)
                                                {
                                                    <label class="form-label font-weight-bold">BloodCrossVerification By</label>
                                                    <select class="form-control select2" data-toggle="select2" asp-items="@(new SelectList(ViewBag.DoctorDropDownList, "DoctorID", "DoctorName").ToList()) " asp-for="BloodCrossVerifiedBy">
                                                        <option value="" selected disabled>Select Doctor</option>
                                                    </select>
                                                    <Span asp-validation-for="BloodCrossVerifiedBy" class="text-danger"></Span>
                                                }

                                            </div><!-- end col -->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">BloodCrossVerification Doctor Remarks</label>
                                                    <textarea class="form-control" placeholder="Remarks" asp-for="DoctorCrossVerificationRemarks"></textarea>
                                                </div>
                                            </div> <!-- end col -->

                                        </div>



                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Contact Number</label>
                                                    <input type="text" class="form-control" asp-for="ContactNumber" placeholder="Contact Number">
                                                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                                </div>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->




                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label font-weight-bold">Description</label>
                                                    <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                                                </div>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input type="submit" class="btn btn-primary" value="Save" onclick="return UpdateBloodBagStatus();">
                                            </div>
                                        </div>

                                    </form>
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © CopyRights Reserved
                    By Keval Kankrecha
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>

@section Scripts{

    <script>
        function GetTotalPrice() {
            let Price = $("#PriceFillAuto").val();
            let Quantity = $("#QuantiyCount").val();
            $(".TotalPriceFill").val(Price * Quantity);
        }
        function GetInStockBloodBagAndPrice() {
            BloodGroupID = $('.BloodGroupDropDown').find(":selected").val();
            $("#BloodBagsList").empty();
            $("#BloodBagsList").append($("<option></option>").val("").html("Select State"));
            if (BloodGroupID !== "") {
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset:utf-8",
                        url: "@Url.Action("BloodStock_SelectInStockBloodBagsAndPriceByBloodGroup", "OutPatient")" + "?&BloodGroupID=" + BloodGroupID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            console.log(Result);
                            $.each(Result,
                                function (key, value) {
                                    $("#BloodBagsList").append($("<option></option>").val(value.bloodBagSerialNumber).html(value.bloodBagSerialNumber));
                                    $("#PriceFillAuto").val(value.price);
                                });
                        },
                        error: function (r) {
                            alert("Error while loading dropdown.");
                        }
                    });
            }
        }
      
    </script>
}